#test_image_show {
	position: relative;

	.hasImage, .noImage {
		position: relative;

		.wrapper {
			position: relative;
			max-width: 300px;
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			padding: 10px;

			button {
				@include position(absolute, nul 15px 15px null);
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.noImage {
		.wrapper {
			min-height: 200px;

			input {
				display: none;
			}

			label {
				padding: 27px 10px;
			    font-size: 88px;
			    display: block;
			    text-align: center;
			}
		}
	}
}